.values-section {
    position: relative;

    .values-bg {
        position: absolute;
        bottom: 0px;
        right: 0;
        width: 65%;
    }

    .value-items {

        .value-card {
            position: relative;
            margin: 20px 0;

            .value-card-content {
                background-color: #F9F9F9;
                border-radius: 36px;
                box-shadow: 0px 16px 38px -12px rgba(0, 0, 0, 0.25);
                transition: all 0.2s ease-in-out;
                cursor: pointer;
                text-align: center;
            }

            &::before {
                content: '';
                z-index: -1;
                position: absolute;
                width: 100px;
                height: 100px;
                transition: all 0.2s ease-in-out;
            }

            &:nth-child(odd)::before {
                top: 0px;
                right: 0px;
                background-color: $secondary;
                border-top-right-radius: 26px;
            }

            &:nth-child(even)::before {
                bottom: 0;
                left: 0;
                border-bottom-left-radius: 26px;
                background-color: $secondary;
            }

            .value-logo {
                max-width: 80px;
            }

        }

        .bg-screen-2 {
            background: url('/assets/svg/Ellipse1.svg');
            background-size: min(40vw, 500px);
            background-repeat: no-repeat;
            background-position-x: 100px;
            background-position-y: 100px;

        }

    }

    @media (max-width: 576px) {

        .value-card {}
    }

}

.rtl {
    .values-section {

        .values-bg {
            left: 0;
            right: unset;
            transform: rotateY(180deg)
        }
    }
}